<% var key = new Date().toLocaleString();
key = key.replace(/\:|\ |\,|\//gm,"")%>
<div id="<%= key%>">
    <% if(data.length) {
        var f_gen;
        for(var i = 0;i<data.length;i++){
            f_gen = new Date(data[i].fecha);
            f_gen = f_gen.toLocaleString();
            switch(data[i].estado){
                case 1:
                    estado = "<a class='btn btn-warning'>Aprobación Pendiente</a>";
                    break;
                case 2:
                    estado = "<a class='btn btn-success'>Aprobado</a>";
                    break;
                case 3:
                    estado = "<a class='btn btn-danger'>Rechazado</a><a class='btn btn-warning edit' data-toggle='modal' data-target='#aa' data-tipo='" + data[i].tipo
                            + "' data-tit='" + data[i].t_principal + "' data-cont='" + data[i].contenido + "' data-tags='" + data[i].tags + "' data-idpost = '" + data[i].idpost + "'><i class='glyphicon glyphicon-wrench'></i> Reeditar</a>";
                    break;
            }
    %><section class="blog-post" id="<%= data[i].idpost %>">
    <div class="panel panel-default">
        <div class="panel-body">
            <%if(data[i].tipo == 3){%>
            <img src="<%= data[i].t_principal%>" style="margin: auto;display: block;" width="auto" class="img-responsive">
            <%} else if(data[i].tipo == 4){%>
            <%- data[i].t_principal%>
            <%}%>
            <div class="blog-post-meta">
                <input class="hidden" value="<%= data[i].tagz%>" data-id="<%= data[i].idpost%>">
                <p class="blog-post-date pull-right"><%= f_gen%></p>
            </div>
            <div class="blog-post-content">
                <%
                switch(data[i].tipo) {
                case 1:
                %>
                <a href="/post/<%= data[i].idpost%>">
                    <h2 class="blog-post-title"><%= data[i].t_principal%></h2>
                </a><%
                    break;
                case 2:%>
                <a href="/post/<%= data[i].idpost%>">
                    <h2 class="blog-post-title"><%= data[i].t_principal%></h2>
                </a>
                <p><%- data[i].contenido%></p>
                <%
                    break;
                default:%>
                <p><%- data[i].contenido%></p>
                <%  break;
                }%>
                <div class="blog-post-share pull-left" style="display: flex">
                    <img src="<%= data[i].iconouser%>" style="margin: 0;height: 30px" width="30px" class="img-circle img-responsive">
                    <h5 style="margin-left: 10px"><%= data[i].username%></h5>
                </div>
                <div class="blog-post-share pull-right">
                    <%- estado%>
                    <a onclick="preliminar(<%= data[i].idpost%>)" class="btn btn-danger"><i class="fa fa-remove"></i></a>
                </div>
            </div>
        </div>
    </div>
</section><%
}
}%>
</div>
<script type="text/javascript">

    $("#<%= key%> .blog-post-meta :input.hidden").each(function (j) {
        var tagger = $(this).val();
        var idpost = "#" + $(this).data('id');
        tagger = tagger.split(",");
        for(var i = 0; i < tagger.length;i++){
            if(tagger[i] != "null") {
                tagger[i] = tagger [i].split("@");
                $(idpost + " .blog-post-meta").append('<a href="/tagbsq/' + tagger[i][1] + '" class="label label-light label-primary">' + tagger[i][0] + '</a> ');
                $(this).val("");
            } else $(idpost + " .blog-post-meta").append('<span class="label label-light label-primary">Idea</span>');

        }
    });
    $("#<%= key%> .blog-post-share :input.laiktoken").each(function (j) {
        var tagger = $(this).val();
        var idpost = "#" + $(this).data('id');
        tagger = tagger.split(",");
        for(var i = 0; i < tagger.length;i++){
            if(tagger[i] == <%= usr.iduser%>) {
                $(idpost + " .loik").removeClass("btn-inverse");
                $(idpost + " .loik").addClass("btn-success");
                $(this).val("");
            }
        }
    });
</script>