<%- include layouts/proyect_header %>


<div class="container blog-content">
    <div class="row">
        <h1 class="page-header">Proyectos<% if(usr.tipo == 3){%> <a class="btn btn-success btn-lg pull-right" href="#" data-toggle="modal" data-target="#create"> + <i class="fa fa-lightbulb-o"></i> Tengo una idea!</a><%}%></h1>
        <div class="col-sm-10 col-sm-offset-1 blog-main">

                <div class="col-sm-4" id="uno">
<% if(data.length) {
    var f_gen;
    var sep = data.length%3;
    sep = data.length - sep;
    sep = sep/3;

    for(var i = 0;i<data.length;i++){
        f_gen = new Date(data[i].actualizado);
        f_gen = f_gen.toLocaleString();
        if(i == sep || i == 2*sep){
        %>
                </div>
                <div class="col-sm-4" id="<%if(i < 2*sep){%>dos<%}else{%>tres<%}%>">
        <%
        }

        %>
                    <section class="blog-post" id="<%= data[i].idproyecto%>">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <% if(data[i].media != "no"){ %>
                                <img src="<%= data[i].media%>" width="auto" style="margin: auto;display: block;" class="img-responsive">
                                <% } %>
                                <div class="blog-post-meta">
                                    <input class="hidden" value="<%= data[i].tagz%>" data-id="<%= data[i].idproyecto%>">
                                    <p class="blog-post-date pull-right">etapa: <%= data[i].etapa%> | <%= f_gen%></p>
                                </div>
                                <div class="blog-post-content">
                                    <a href="/proy/get/<%= data[i].idproyecto%>">
                                        <h2 class="blog-post-title"><%= data[i].titulo%></h2>
                                        <h4><%= data[i].problema%></h4>
                                    </a>
                                    <p><%- data[i].descripcion%></p>
                                    <img src="<%= data[i].iconouser%>" width="30px" height="auto" style="margin: auto;display: block;" class="img-circle img-responsive pull-left">
                                    <a class="blog-post-share pull-left text-center" style="margin-left: 6px" href="#">
                                        <%= data[i].username%>
                                    </a>
                                    <div class="blog-post-share pull-right">
                                        <input type="hidden" class="hidden" value="&<%= data[i].proylaik%>&" data-id="<%=data[i].idproyecto%>" name="proylaik">
                                        <a class="comm btn btn-primary" data-id="<%= data[i].idproyecto%>" href="/proy/get/<%= data[i].idproyecto%>">
                                            <i class="glyphicon glyphicon-eye-open"></i>
                                        </a>
                                        <a class="laikp btn btn-inverse" data-id="<%= data[i].idproyecto%>" href="#">
                                            <i class="glyphicon glyphicon-thumbs-up"></i> <%=data[i].lenlaik%>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <%

    }
} else {%>
<p> No hay proyectos</p>
<% } %>

                </div>
        </div><!-- /.blog-main -->
        <div id="next">
            <nav>
                <ul class="pager center-block">
                    <input type="hidden" value="<% if(data.length){%><%= data[data.length-1].actualizado%><%}%>" data-strim="proys" id="idpst">
                     <li><a class="withripple strim" href="#">Más</a></li>
                </ul>
            </nav>
        </div>
        <div class="modal fade" id="create" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h2 class="modal-title" id="myModalLabel">Crear Proyecto</h2>
                    </div>
                    <form action="/proy/add" method="post" id="mform">
                        <div class="modal-body">
                            <div id="preview"></div>
                            <div class="form-group">
                                <input name="media" type="hidden" id="media" value="no">
                                <div class="input-group" id="fail">
                                    <input type="file" name="filetoupload" onchange="upload(this)">
                                    <a class="input-group-btn btn btn-success">Sube una Portada de proyecto <i class="glyphicon glyphicon-upload"></i></a>
                                </div>
                                <input type="text" name="tit" id="tit" class="form-control" placeholder="Título del proyecto" required>
                                <input type="textarea" maxlength="140" rows="2" name="prob" class="form-control" placeholder="Problema Base" required>

                                <select id="catego" class="form-control" name="cat">
                                    <option value="" disabled selected>Selecciona una categoría </option>
                                    <option value="18">Fin de la Pobreza</option>
                                    <option value="78">Acción por el Clima</option>
                                    <option value="71">Agua limpia y saneamiento</option>
                                    <option value="82">Alianzas para lograr Objetivos</option>
                                    <option value="76">Ciudades y comunidades Sostenibles</option>
                                    <option value="69">Educación de Calidad</option>
                                    <option value="72">Energía asequible y no contaminante</option>
                                    <option value="67">Hambre Cero</option>
                                    <option value="70">Igualdad de Género</option>
                                    <option value="74">Industria Innovación e infraestructura</option>
                                    <option value="81">Paz justicia e Instituciones solidas</option>
                                    <option value="77">Producción y consumo responsable</option>
                                    <option value="75">Reducción de Desigualdades</option>
                                    <option value="68">Salud y Bienestar</option>
                                    <option value="73">Trabajo Decente y crecimiento económico</option>
                                    <option value="80">Vida de Ecosistemas terrestres</option>
                                    <option value="79">Vida submarina</option>
                                </select>
                                <label for="testo">Descripción</label>
                                <textarea type="text" name="testo" id="editor2" ></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">

                            <div class="form-group form-inline">

                                <input type='text' class='form-control' name='tags' id="tag" value="" placeholder="tags (Ej: tag1, tag2, tag3)">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                    <button type="submit"  class="btn btn-primary">+ Proyecto</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function(){
                $('.laikp').click(function(e){
                    /*$.ajax({
                     dataType: 'jsonp',
                     data: "data=yeah",
                     jsonp: 'callback',
                     url: 'http://localhost:3000/endpoint?callback=?',
                     success: function(data) {
                     console.log('success');
                     console.log(JSON.stringify(data));
                     }
                     });*/
                    var data = {};
                    data.idpost = $(this).data('id');
                    var like = $(this);
                    $.ajax({
                        type: 'POST',
                        data: JSON.stringify(data),
                        contentType: 'application/json',
                        url: '/laik_p',
                        success: function(data) {
                            if(data != "no"){
                                like.html(data.html);
                                like.removeClass("btn-success");
                                like.removeClass("btn-inverse");
                                like.addClass(data.newlaik);
                            }
                        }
                    });
                    e.preventDefault();
                    /*$.ajax('http://localhost:3000/endpoint', {
                     type: 'POST',
                     data: JSON.stringify(data),
                     contentType: 'application/json',
                     success: function() { console.log('success');},
                     error  : function() { console.log('error');}
                     });*/
                });
                $(".strim").click(function(e){
                    var data = {};
                    data.idpost = $("#idpst").val();
                    $.ajax({
                        type: 'POST',
                        data: JSON.stringify(data),
                        contentType: 'application/json',
                        url: '/proy_stream',
                        success: function(data) {
                            $("#uno").append(data.html.uno);
                            $("#dos").append(data.html.dos);
                            $("#tres").append(data.html.tres);
                            if(data.newval != "nada"){
                                $("#idpst").val(data.newval);
                            } else {
                                $("#next").html("");
                            }
                        }
                    });
                });

            });
        </script>

<%- include layouts/proyect_footer.ejs %>