<%- include ../../layouts/admin_header.ejs %>
<h2 class="page-header">Observatorio: <%= obs.nom%> <a class="btn btn-info pull-right" href="/obs/<%= obs.idinst %>">Volver</a></h2>
<div class="row">
    <h2>Ciudadanos</h2>
    <div class="table table-responsive">
    <table class="table">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Nombre de Usuario</th>
            <th>Correo</th>
            <th>N° Posts</th>
        </tr>
        <tbody id="totales">
    <%
    if(users.length){
        var status = 0;
    for(var i = 0;i < users.length; i++){
        status += users[i].posts;
    %>
    <tr id="<%=users[i].iduser%>">
        <td><%= users[i].nombre%></td>
        <td><%= users[i].apellido%></td>
        <td><%= users[i].username%></td>
        <td><%= users[i].correo%></td>
        <td><%= users[i].posts%></td>
    </tr>
    <%
    }
    } else{%>
    <tr><td>No se encontraron Ciudadanos</td><td>-</td><td>-</td><td>-</td><td>-</td></tr>
    <%
    }
    %>
        <tr><th></th><th></th><th></th><th></th><th>Posts Totales: <%= status%></th></tr>
        </tbody>
    </table>
    </div>
</div>
<div class="row">
    <h2 class="page-header">Proyectos</h2>

    <div class="table-responsive">
        <table class="table">
            <tr>
                <th>Título</th>
                <th>Descripción</th>
                <th>Etapa</th>
                <th>Evento</th>
                <th>N° Integrantes</th>
            </tr>
            <tbody id="fila"><tr>
                <%
                if(proyects.length){
                    var status;
                for(var i = 0;i < proyects.length; i++){
                %>
            <tr id="<%= proyects[i].idproyecto%>">
                <td><%= proyects[i].titulo%></td>
                <td><%= proyects[i].descripcion%></td>
                <td><%= proyects[i].etapa%></td>
                <td><%= proyects[i].nombre%></td>
                <td><%= proyects[i].ints%></td>
            </tr>
            <%
            }
            } else{%>
            <tr><td>No se encontraron proyectos</td><td>-</td><td>-</td><td>-</td><td>-</td></tr>
            <%
            }
            %>
            </tbody>
        </table>
    </div>
</div>
<%- include ../../layouts/footer.ejs %>