<%- include ../layouts/user_header.ejs %>
<div class="container blog-content">
    <div class="row">

        <div class="col-sm-8 blog-main">
            <div class="row">
                <div class="col-sm-12">
                    <section class="blog-post">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="blog-post-meta">
                                    <h1 class="blog-post-title">Ciudadanos de: <%= obs.nom%> <a class="btn btn-info pull-right" href="/obs_monit">Volver</a></h1>
                                </div>
                                    <div class="table table-responsive">
                                        <div class="form-inline pull-right">
                                            <form action="/add_cdd" method="post">
                                                <input type="email" name="correo" class="form-control" placeholder="Correo" id="add_mail">
                                                <button type="submit" name="idobs" class="btn btn-info" value="<%= obs.idobservatorio%>">+ <i class="glyphicon glyphicon-user"></i></button>
                                            </form>
                                        </div>
                                        <% if(data.length < obs.max){%>
                                        <%}%>

                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>N°</th>
                                                <th>Usuario</th>
                                                <th>Nombre</th>
                                                <th>Apellido</th>
                                                <th>Correo</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                    <% if(data.length) {
                                        for(var i = 0;i<data.length;i++){%>
                                        <tr>
                                            <td><%= i+1%></td>
                                            <td><% if(data[i].username){%><%= data[i].username%><%}%></td>
                                            <td><% if(data[i].nombre){%><%= data[i].nombre%><%}%></td>
                                            <td><% if(data[i].apellido){%><%= data[i].apellido%><%}%></td>
                                            <td><%= data[i].correo%></td>
                                            <td><form action="/drop_cdd" method="post">
                                                    <button class="btn btn-danger" type="submit" name="idobs" value="<%= obs.idobservatorio%>"><i class="glyphicon glyphicon-remove"></i></button>
                                                    <input type="hidden" name="iduser" value="<%= data[i].iduser%>">
                                                </form></td>
                                        </tr>
                                    <%    }
                                    } else {%>
                                        <tr>
                                            <td>No hay ciudadanos inscritos</td>
                                        </tr>
                                    <% } %>
                                            </tbody>

                                        </table>
                                </div>
                        </div>
                    </section>
                </div>
            </div>

        </div><!-- /.blog-main -->

<%- include ../layouts/cdd_footer.ejs %>
