<%
if(data.length){
for(var i = 0;i < data.length; i++){
%>
<tr>
    <td><%= data[i].nom%></td>
    <td><%= data[i].instnom%></td>
    <td><%= data[i].comuna%></td>
    <td><a class="btn btn-info addobs" data-idobs="<%= data[i].idobservatorio%>" href="#"> + Añadir</a></td>
</tr>
<%
}
} else{%>
<tr><td>No se encontraron observatorios</td><td>-</td><td>-</td><td>-</td><td>-</td></tr>
<%
}
%>
<script type="text/javascript">
    $(function () {
       $(".addobs").click(function(e){
           var data = {idobs: $(this).data('idobs'),idevnt: <%=idevnt%>};
           var esto = $(this);
           $.ajax({
               type: 'POST',
               data: JSON.stringify(data),
               contentType: 'application/json',
               url: '/addto_evnt',
               success: function(data) {
                   if(data != "no"){
                       esto.html("Añadido");
                       esto.removeClass("btn-info");
                       esto.addClass("btn-success");
                       esto.attr("disabled",true);
                       console.log(data);
                       $("#totales").html(data);
                   }
               }
           });
       })
    });
</script>
