<%- include ../../layouts/admin_header.ejs %>
<h2 class="page-header">Moderar Avances de proyectos</h2>
<div class="row placeholders">
    <% if(data.length){
        for(var i = 0;i<data.length;i++){%>
    <div class="panel col-md-5 well-lg">
        <div class="panel-heading">
            <h2><%=data[i].titulo%></h2>
        </div>
        <div class="panel-body text-left">
            <h3><%= data[i].token[0]%></h3>
            <p><%- data[i].texto1%></p>
            <h3><%= data[i].token[1]%></h3>
            <p><%- data[i].texto2%></p>
        </div>
        <div class="panel-footer" style="display: flex;">
            <img src="<%= data[i].iconouser%>" style="margin: 0;height: 30px" width="30px" class="img-circle img-responsive">
            <h5 style="margin-left: 10px"><%= data[i].username%></h5>
            <a href="/mod/<%=data[i].idpostinterno%>/si" class="btn btn-success" style="margin-left:10px"><i class="glyphicon glyphicon-ok"></i></a>
            <a href="/mod/<%=data[i].idpostinterno%>/no" class="btn btn-danger" style="margin-left:10px"><i class="glyphicon glyphicon-remove"></i></a>
        </div>

    </div>
    <%  }
    }else {%>
    <h3>No hay Avances pendientes</h3>
    <%}%>
</div>
<%- include ../../layouts/footer.ejs %>